body{
  background-color: #FFFFFF;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 200px;
  height: auto;
  box-sizing: border-box;
  background-color:#BADA55;
  border: 4px solid;
  border-radius: 6px;
  box-shadow: 0 0 15px 5px #666;
}
.card .like {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: auto;
}
.card .like * {
  cursor: pointer;
}
.card img {
  max-width: 100%;
}
.info {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.info button {
  cursor: pointer;
}
.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  font-size: 1.5rem;
  
}

.pokedex{
  font-size: 2rem;
  font-weight: 600;
}

.controls{
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.controlDark{
  padding-left: 1rem;
}

.title{
  text-align: center;
}